= form_tag send_mail_path do
  .form-group
    = label_tag 'email', 'Email', class: 'col-md-4 control-label'
    .col-md-6
      = email_field_tag 'email', current_user.email, class: 'form-control'
    .submit_button
      = submit_tag Cart.human_attribute_name('confirm_order'), class: 'btn btn-default btn-success'
