// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
   display: block;
}
a, a:link {
  color: #000000 !important;
}
a:hover, a:focus, a:active{
  color: red !important;
  background-color: transparent;
}
img {
  display: block;
  float: right;
}
.page-content {
  padding:10px;
  width:350px;
  margin: 0 auto;
}
.index-products {
  margin: 0 auto;
  padding: 10px;
  width: 900px;
}

.image_zoom {
    transition: -webkit-transform 0.25s ease;
}

.image_zoom:active {
    -webkit-transform: scale(2);
}