%h1= 'Oh no! There are no products!'
%br
= image_tag("giphy.gif")

%br
= link_to 'Create new product', new_product_path, class: 'btn btn-default'
= link_to 'All accounts', accounts_path, class: 'btn btn-info'  
